# Gradle
.gradle/
build/
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

# Logs / reports
*.log
TEST*.xml
coverage/
lint/intermediates/
