<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suks.sittiporn.lslamic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <permission
        android:name="myPackageName.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="myPackageName.permission.MAPS_RECEIVE" />

    <application
        android:name=".alarm.application.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/config_security"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".features.forgetpassword.forgetemail.ForgetEmailActivity"
            android:label="ลืมรหัสผ่าน"></activity>
        <activity
            android:name=".features.forgetpassword.ForgetPasswordActivity"
            android:label="ยืนยันรหัสผ่าน" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>        <activity android:name=".features.maps.MapsIslamicActivity" />
        <activity
            android:name=".features.favorite.FavoriteActivity"
            android:label="สถานที่ละหมาดของฉัน" />
        <activity
            android:name=".features.checkinlist.detail.DetailCheckInActivity"
            android:label="รายละเอียด" />
        <activity
            android:name=".features.about.AboutActivity"
            android:label="เกี่ยวกับ" />
        <activity android:name=".features.help.HelpActivity" />
        <activity
            android:name=".features.maps.CustomInfoWindowMapsActivity"
            android:label="ค้นหาสถานที่ละหมาด" />
        <activity
            android:name=".features.profile.ProfileActivity"
            android:label="โปรไฟล์" />
        <activity android:name=".features.place.PlaceActivity" />
        <activity
            android:name=".features.checkinlist.CheckInListActivity"
            android:label="รายการเช็คอิน" />
        <activity
            android:name=".features.checkin.CheckInActivity"
            android:label="เช็คอินสถานที่ละหมาด" />
        <activity
            android:name=".features.time.TimeActivity"
            android:label="เวลาละหมาดวันนี้" />
        <activity
            android:name=".features.maps.MapsActivity"
            android:label="แผนที่" />        <activity
            android:name=".features.login.LoginActivity"
            android:label="เข้าสู่ระบบ" />
        <activity
            android:name=".features.home.HomeActivity"
            android:label="หน้าหลัก"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".features.register.RegisterActivity"
            android:label="สมัครสมาชิก" />
        <activity android:name=".alarm.activities.MainAlramActivity" />
        <activity
            android:name=".alarm.activities.RingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".alarm.broadcastreceiver.AlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".alarm.service.AlarmService" />
        <service android:name=".alarm.service.RescheduleAlarmsService" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoThemeBarStatus"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>