<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.suks.sittiporn.lslamic">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <permission
        android:name="myPackageName.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="myPackageName.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/config_security"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".register.RegisterActivity"></activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- Service -->
        <activity android:name=".main.maps.MapsIslamicActivity" />
        <activity
            android:name=".main.favorite.FavoriteActivity"
            android:label="Favorite" />
        <activity
            android:name=".main.checkinlist.detail.DetailCheckInActivity"
            android:label="รายละเอียด" />
        <activity
            android:name=".about.AboutActivity"
            android:label="Info" />
        <activity android:name=".help.HelpActivity" />
        <activity
            android:name=".main.maps.CustomInfoWindowMapsActivity"
            android:label="maps" />
        <activity android:name=".profile.ProfileActivity"
            android:label="Profile"/>
        <activity android:name=".main.place.PlaceActivity" />
        <activity
            android:name=".main.checkinlist.CheckInListActivity"
            android:label="CheckInList" />
        <activity
            android:name=".main.checkin.CheckInActivity"
            android:label="เพิ่ม" />
        <activity
            android:name=".main.time.TimeActivity"
            android:label="Time" />
        <activity
            android:name=".main.MapsActivity"
            android:label="Maps" /> <!-- <receiver -->
        <!-- android:name=".service.SyncVipAlarmBroadCastReceiver" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.alarm.receiver" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".login.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".home.HomeActivity"
            android:label="HOME"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoThemeBarStatus"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>